{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <img id="producto" src="{% static producto.get_path %}">
  <img id="circulo" src ="{% static producto.mesa_trabajo %}">
  <div id="TEXTO">
    <span>{{producto.description}}</span>
  </div>
  <div id="prize">
    <span>{{producto.name | title}} {{producto.prize}} € </span>
  </div>
  <form id = "registro" action="compra" method="post">
    {% csrf_token %}
        <input style="top:200px; right:500px" type="radio" name="talla" value="S">
        <label id="talla" for="s">S</label>
        <input style="top:200px; right:200px" type="radio" name="talla" value="M" checked>
        <label id="talla" for="m">M</label>
        <input style="top:200px; right:100px" type="radio" name="talla" value="L">
        <label id="talla" for="l">L</label><br><br><br>
        <input id="registro1"type="text" name="nombre" value="" placeholder="Nombre"required/><br><br><br><br>
        <input id="registro1"type="password" name="contrasena" value="" placeholder="Contraseña"required/><br><br><br><br>
        <input id="registro1"type="email" name="correo" value="" placeholder="Correo"required/><br><br><br><br>
  			<input id="registro1"type="text" id="comprar" name="producto" value="{{producto.name}}" readonly/><br><br><br><br>
  	    <input id="boton" style="width: 300px" type="submit" id="boton1" value="Añadir a la cesta"/>
  		</form>
    </div>
{% endblock %}
