
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_1 {
		position: absolute;
		transform: translateX(-50%) translateY(-50%);
		left: 50%;
		top: 50%;
		width: 1920px;
		height: 2081px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}
	@font-face {
		font-family: JARJAR;
		src: url(Starjhol.ttf) format("truetype");
	}
	@font-face {
		font-family: STARWARS;
		src: url(Lato-BlackItalic.ttf) format("truetype");
	}
	#JJB2 {
		position: absolute;
		width: 2109px;
		height: 600px;
		right: 0px;
		top: 450px;
		overflow: visible;
	}
	#jar_jar_binks {
		position: absolute;
		left: 0px;
		top: 545px;
		width: 500px;
		height: 505px;
		overflow: visible;
		text-align: center;
		font-family: JARJAR;
		font-size: 100px;
		color: rgba(255,235,35,1);
	}
	#registro{
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
		position: absolute;
		overflow: visible;
		top: 1400px;
		left: 1200px;
		border: 1px;
	}
	#registro1{
		position: absolute;
		overflow: visible;
		border-radius: 0;
		font-family: STARWARS;
		font-size: 40px;
		color: black;
	}
	#boton{
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
		position: absolute;
		overflow: visible;
		height: 50px;
		width: 150px;
		font-size: 30px;
		background-color: black;
		color: yellow;
	}
	#busqueda{
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
		position: absolute;
		overflow: visible;
		height: 50px;
		width: 300px;
		border: 1px;
		border-color: yellow;
		border-radius: 0;
		font-family: STARWARS;
		font-size: 40px;
		background-color: white;
		color: black;
	}
	#carrito {
		position: absolute;
		right: 50px;
		top: 550px;
		overflow: visible;
		width: 100px;
	}
	#resultado{
		position: absolute;
		overflow: visible;
		right: 700px;
		top: 1300px;
		font-size: 30px;
		font-family: STARWARS;
	}
	#INICIO {
		position: absolute;
		overflow: hidden;
		text-align: center;
		font-family: STARWARS;
		font-weight: bold;
		font-size: 40px;
	}
	.RECTANGULO1 {
		filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.192));
		position: absolute;
		overflow: visible;
		width: 526px;
		height: 537px;
		left: 145px;
		top: 1141px;
	}
	.RECTANGULO2 {
		filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.192));
		position: absolute;
		overflow: visible;
		width: 526px;
		height: 537px;
		left: 724px;
		top: 1141px;
	}
	.RECTANGULO3 {
		filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.192));
		position: absolute;
		overflow: visible;
		width: 526px;
		height: 537px;
		left: 1303px;
		top: 1141px;
	}
	#Imagen_1 {
		position: absolute;
		width: 403.5px;
		height: 400px;
		left: 176px;
		top: 1186px;
		overflow: visible;
	}
	#Imagen_2 {
		position: absolute;
		width: 443px;
		height: 283px;
		left: 736px;
		top: 1245px;
		overflow: visible;
	}
	#Imagen_3 {
		position: absolute;
		width: 372px;
		height: 372px;
		left: 1350px;
		top: 1208px;
		overflow: visible;
	}
	#CAMISETAS {
		position: absolute;
		left: 225.5px;
		top: 1689.5px;
		overflow: visible;
		width: 306px;
		text-align: center;
		font-family: 'STARWARS';
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	#ZAPATILLAS {
		position: absolute;
		left: 783.5px;
		top: 1689.5px;
		overflow: visible;
		width: 349px;
		text-align: center;
		font-family: 'STARWARS';
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	#COMPLEMENTOS {
		position: absolute;
		left: 1310.5px;
		top: 1689.5px;
		overflow: visible;
		width: 452px;
		text-align: center;
		font-family: 'STARWARS';
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	.RECTANGULO_CONTACTO {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 187px;
		left: 0px;
		top: 1894px;
	}
	#contacto {
		position: absolute;
		left: 564px;
		top: 1932px;
		overflow: visible;
		width: 794px;
		height: 111px;
		text-align: center;
		font-family: JARJAR;
		font-size: 30px;
		color: rgba(255,235,35,1);
	}
	#producto {
		position: absolute;
		width: 403.5px;
		height: 400px;
		left: 167px;
		top: 1100px;
		overflow: visible;
	}
	#circulo{
		position: absolute;
		width: 100px;
		height: 100px;
		left: 950px;
		top: 1100px;
	}
	#TEXTO {
		position: absolute;
		left: 1065px;
		top: 1220px;
		overflow: visible;
		width: 750px;
		height: 203px;
		text-align: left;
		font-family: STARWARS;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#prize {
		position: absolute;
		left: 1056.5px;
		top: 1120px;
		overflow: hidden;
		width: 765px;
		height: 60px;
		text-align: left;
		font-family: STARWARS;
		font-style: normal;
		font-weight: normal;
		font-size: 60px;
		color: rgba(0,0,0,1);
	}
	input[type=radio] {
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.314));
		background-color: yellow;
    border: 1px;
    width: 50px;
    height: 2em;
	}
	#talla {
		font-family: STARWARS;
		font-size: 70px;
		color: rgba(0,0,0,1);
	}
